.fast-order {
	background-color: $tabs-color;
	padding-bottom: 15px;
	&__header {
		font-weight: bold;
		font-family: "CaviarDreamsBoldItalic";
		color: #fff;
		margin: 0;
		padding: 21px 0 21px 10px;
		}
	&__form {
		.fast-order__input-header {
			color: #fff;
			margin-bottom: 15px;
			.fast-order__input {
				margin-top: 15px;
				width: 100%;
				color: #222;
			}
			.fast-order__input--text {
				height: 200px;
				resize: vertical;
			}
			.ezdz-dropzone {
				width: 100%;
				border: 4px dotted #fff;
				color: #fff;
				margin-top: 15px;
			}
		}
	}
}