@import "bourbon";

<<<<<<< HEAD
$bg-color-main: #DFE8E5;
$bg-color-sec: #A1DAFF;
$tabs-color: #501063;
$accent-color: #C883FF;
$test-color: #1BCDFF;
=======
$bg-color-main: #F2F2F2;
$bg-color-sec: #E8E4DF;
$tabs-color: #465569;
$accent-color: #37383D;
$test-color: #ADA8AA;
$test-color-2: #C5CCD9;
>>>>>>> origin/master
