//STYLES FOR TYPOGRAPHY, TEST DESIGN AND ETC. ERASE BEFORE RELEASE
@import "_design";

//BASE IMPORTS
@import "bourbon";
@import "_fonts";
@import "_vars";

//PLUGINS STYLES IMPORT
@import "app/libs/slick-carousel/slick";
@import "app/libs/font-awesome/scss/font-awesome";
@import "app/libs/ezdz/jquery.ezdz.min";

//LAYOUT BLOCKS IMPORT
@import "layout-blocks/_wrapper";
@import "layout-blocks/_container";

//MAIN BLOCKS IMPORT
@import "main-blocks/_main-header";
@import "main-blocks/_main-logo";
@import "main-blocks/_main-menu";
@import "main-blocks/_main-footer";
@import "main-blocks/_credits";
@import "main-blocks/_copyright";

//SECTION BLOCKS IMPORT
@import "section-blocks/_new-products";
@import "section-blocks/_welcome-screen";
@import "section-blocks/_seo-block";
@import "section-blocks/_catalog";
@import "section-blocks/_product-description";

//COMPONENT BLOCKS IMPORT
@import "component-blocks/_catalog-packery";
@import "component-blocks/_product-card";
@import "component-blocks/_fast-order";
@import "component-blocks/_product-gallery";

//HELPER BLOCKS IMPORT
@import "helper-blocks/_section-title";
@import "helper-blocks/_view-all-ribon";
@import "helper-blocks/_navigation-tabs";
@import "helper-blocks/_breadcrumbs";
@import "helper-blocks/_widget";
@import "helper-blocks/_contact-info";
@import "helper-blocks/_anim-button";
@import "helper-blocks/_pagination";

//TYPOGRAPHY SETTINGS
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "lobster";
}

//--LAYOUT SETTINGS--
body, html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: "KelsonSansRegular";
	line-height: 1.3;
	overflow-x: hidden;
}


//--EXTRA SETTINGS--
ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	font-weight: normal;
	&:active, &:focus {
		text-decoration: none;
		outline: none;
	}
}

	//INPUT OUTLINE
	textarea:focus, input:focus {
		outline: 2px solid $bg-color-sec;
	}

//SLICK SLIDER OUTLINE RESET
.slick-slide {
	outline: none;
}

.color-pallete {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	&__color-1, &__color-2, &__color-3, &__color-4, &__color-5 {
		width: 40px;
		height: 40px;
		border: 2px solid black;
	}
	&__color-1 {
		background-color: $bg-color-main;
	}
	&__color-2 {
		background-color: $bg-color-sec;
	}
	&__color-3 {
		background-color: $tabs-color;
	}
	&__color-4 {
		background-color: $accent-color;
	}
	&__color-5 {
		background-color: $test-color;
	}
}