svg-cake-icon-dims {
	width: 64px;
	height: 64px;
}

svg-compositons-icon-dims {
	width: 376.38px;
	height: 376.38px;
}

svg-contacts-icon-dims {
	width: 684.032px;
	height: 684.031px;
}

svg-cupcake-icon-dims {
	width: 404.907px;
	height: 404.907px;
}

svg-delivery-icon-dims {
	width: 410.354px;
	height: 410.354px;
}

svg-illumination-dims {
	width: 376.237px;
	height: 376.237px;
}

svg-logo-dims {
	width: 100px;
	height: 100px;
}

svg-lolipop-icon-dims {
	width: 395.635px;
	height: 395.635px;
}

svg-news-icon-dims {
	width: 292.518px;
	height: 292.518px;
}

svg-portfolio-icon-dims {
	width: 93.752px;
	height: 93.752px;
}

svg-pryanik-icon-dims {
	width: 463px;
	height: 463px;
}

svg-reviews-icon-dims {
	width: 512px;
	height: 512px;
}

svg-topiariy-icon-dims {
	width: 402.904px;
	height: 402.904px;
}

