svg-form-message-icon-dims {
	width: 43.995px;
	height: 43.995px;
}

svg-form-name-icon-dims {
	width: 482.9px;
	height: 482.9px;
}

svg-form-tel-icon-dims {
	width: 512.257px;
	height: 512.257px;
}

svg-pryanik-icon-dims {
	width: 470px;
	height: 470px;
}

svg-send-order-icon-dims {
	width: 48px;
	height: 48px;
}

svg-show-more-icon-dims {
	width: 297px;
	height: 297px;
}

