.section-header {
	&__title {
		margin: 0;
		padding: 0;
		color: $tabs-color;
		text-align: center;
		font-size: 40px;
	}
	&__subtitle {
		width: 83%;
		margin: 0 auto;
		text-align: center;
		color: #8a7f7b;
	}
}