.fast-order {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 15px 15px;
	background-color: $bg-color-main;
	textarea {
		resize: none;
	}
//LAYOUT
	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		&-item {
			position: relative;
			width: 47%;
		}
	}
	&__input-icon {
		position: absolute;
		top: 8px;
		left: 3px;
		&-svg {
			width: 25px;
			height: 25px;
			fill: $bg-color-sec;
		}
	}
	&__input-title {
		color: $bg-color-sec;
	}
	&__input {
		width: 100%;
		box-sizing: border-box;
		padding: 10px 12px;
		padding-left: 32px;
		background-color: #e4e0d5;
		color: $bg-color-sec;
		border: 1px solid #cac8c0;
		margin: 0;
		font-family: "KelsonSansRegular";
		font-size: 15px;
	}
//LEFT-SIDE
	&__left-side {
		width: 65%;
	}
	.ezdz-dropzone {
		width: 100%;
		border: 4px dotted $bg-color-sec;
		margin-top: 15px;
	}
	&__submit-button {
		width: 100%;
		background-color: $bg-color-sec;
		border-radius: 3px;
		font-family: "KelsonSansRegular";
	}

//RIGHT-SIDE
	&__right-side {
		width: 25%;
	}
}