.anim-button {
	z-index: 1;
	position: relative;
	display: block;
	overflow: hidden;
	min-width: 150px;
	max-width: 250px;
	margin: 0 auto;
	padding: 0;
	border: none;
	text-align: center;
	transition: background-color 0.3s;
	cursor: pointer;
	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
		background-color: $tabs-color;
	}
	&:hover {
		background-color: $tabs-color;
		transition: background-color 0s 0.3s;
	}
	&:hover::before {
		animation: anim-naira-1 0.3s forwards ease-in;
	}
	&:hover > &__icon {
		transform: translate3d(0, 0, 0);
	}
	&:hover &__text {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	&__icon, &__text {
		transition: transform 0.3s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&__icon {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
		fill: $bg-color-main;
		transform: translate3d(0, -120%, 0);
	}
	&__text {
		padding: 15px 20px;
		display: block;
		font-size: 15px;
		font-family: "KelsonSansBold";
		text-transform: uppercase;
		color: $bg-color-main;
	}
}

.anim-button--border {
	border: 2px solid $bg-color-main;
}

.anim-button--round {
	border-radius: 15px;
}

//BUTTON ANIMATIONS

@keyframes anim-naira-1 {
	50% {
		transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes anim-naira-2 {
	50% {
		transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}