.section-title {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
	&__main-title {
		margin: 0;
		padding: 0;
		color: $tabs-color;
		text-align: center;
		font-size: 40px;
	}
	&__subtitle {
		margin: 0 auto;
		text-align: center;
		color: $subtitle-color;
	}
	&__subtitle--white {
		color: $bg-color-main;
	}
}