.new-products {
	padding: 20px 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -11px;
		width: 100%;
		height: 11px;
		display: block;
		background: transparent url("/img/divider-light.png") repeat-x center center;
	}
	.section-header {
		position: relative;
		margin-bottom: 80px;
	}
	&__slider {
		position: relative;
		&-slide {
			position: relative;
			padding: 0 15px;
		}
	}
}