.l-main-menu {
	position: absolute;
	z-index: 2;
	width: 100%;
	margin-top: 40px;
	padding: 20px 0;
	background: url("/img/bg-header-1.png") repeat-x;
}
.c-main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	//MAIN-HEADER-SIDES COMMON-STYLES START
	&__left-side, &__right-side {
		display: flex;
		justify-content: space-between;
		&-link {
			vertical-align: middle;
			padding: 0;
			font-size: 15px;
			font-family: "KelsonSansLight";
			color: $bg-color-sec;
			text-transform: uppercase;
			font-weight: bold;
			position: relative;
			transition: all .5s ease;
			&:hover {
				text-decoration: none;
				color: $tabs-color;
			}
			&-icon {
				vertical-align: middle;
				fill: currentColor;
				width: 40px;
				height: 40px;
			}
		}
	}
	//MAIN-HEADER-SIDES COMMON-STYLES END

	&__left-side {
		&-link {
			margin-right: 26px; //на глаз подровнял левый блок меню
			&:nth-last-child(1) {
				margin-right: 0;
			}
			&-icon {
				padding-left: 5px;
			}
		}
	}

	&__right-side {
		text-align: right;
		&-link {
			margin-left: 30px;
			&:nth-child(1) {
				margin-left: 0;
			}
			&-icon {
				padding-right: 5px;
			}
		}
	}
}