.new-products {
	position: relative;
	&__slider {
		z-index: 1;
		position: relative;
		padding-top: 80px;
		margin-bottom: 40px;
		&-next-arrow, &-prev-arrow {
			position: absolute;
			width: 60px;
			height: 60px;
			top: 0px;
			cursor: pointer;
			transition: all .5s ease;
			fill: $bg-color-sec;
			&:hover {
				fill: $tabs-color;
			}
		}
		&-next-arrow {
			left: 45%;
			margin-left: -27px;
		}
		&-prev-arrow {
			right: 45%;
			margin-right: -27px;
		}
		&-slide {
			position: relative;
			padding: 0 15px;
		}
	}
}