.seo-block {
	position: relative;
	&__title {
		padding: 0;
		margin: 0;
		margin-bottom: 60px;
		font-size: 35px;
		text-align: center;
		color: $tabs-color;
	}

	&__text {
		color: $bg-color-main;
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		&-item {
			padding: 0 5px;
			width: 250px;
			text-align: center;
			&:hover > &-icon {
				@include rotate-fill-transition($tabs-color);
			}
			&:hover > &-title {
				color: $bg-color-main;
			}
			&-icon {
				fill: $bg-color-main;
				width: 70px;
				height: 70px;
				transition: all .7s ease;
			}
			&-title {
				font-size: 25px;
				color: $tabs-color;
				transition: all .5s ease;
			}
			&-text {
				color: $bg-color-main;
				transition: all .5s ease;
			}
		}
	}
}