.welcome-screen {
	position: relative;
	&__header {
		margin-top: 40px;
		position: absolute;
		z-index: 1;
	}
	&__slider {
		//SLIDER DOTS STYLES
		.slick-dots {
			position: absolute;
			margin: 0;
			padding: 0;
			left: 50%;
			margin-left: -86px;
			bottom: 30px;
			li {
				position: relative;
				margin: 0 15px;
				width: 13px;
				height: 13px;
				cursor: pointer;
				list-style-type: none;
				display: inline-block;
				.dot {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 3px solid $bg-color-main;
					background: transparent;
					&:hover {
						background: rgba(255, 255, 255, 0.3);
					}
					&::after {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						border-radius: 50%;
						visibility: hidden;
						background: $tabs-color;
						opacity: 0;
						transform: rotate(-100deg);
						transform-origin: -200% 50%;
						transition: transform 0.5s ease 0.5s, opacity 0.5s ease, visibility 0s 0.5s ease;	
					}					
				}
			}
			li.from-right {
				.dot {
					&::after {
						transition: none;
						transform: rotate(100deg);
						transform-origin: 300% 50%;
					}
				}
			}
			li.slick-active {
				.dot {
					&::after {
						visibility: visible;
						opacity: 1;
						transform: rotate(0deg);
						transition: transform 0.3s ease, opacity 0.3s ease;
					}
	 			}
			}
		}
		//SLIDER DOTS STYLES FINISH

		&-slide {
			height: 700px;
			position: relative;
				&::before {
				content: '';
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: rgba(75,57,57,.75);
			}
			&-img {
				z-index: 1;
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
			}
			&-caption {
				//background-color: rgba(red,0.5);
				z-index: 2;
				position: absolute;
				width: 100%;
				left: 0px;
				top: 300px;
				&-title {
					padding: 0;
					margin: 0;
					margin-bottom: 30px;
					text-align: center;
					font-size: 50px;
					color: $tabs-color;
				}
				&-text {
					width: 960px;
					margin: 0 auto;
					text-align: center;
					color: $bg-color-main;
				}
			}
		}
	}
}