.main-footer {
	position: relative;
	display: flex;
	justify-content: space-between;

	&__item {
		width: 33.33333333%;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-link {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 20px;
			color: $bg-color-main;
			transition: all .5s ease;
			&:hover {
				color: $tabs-color;
			}			
			&:hover > &-icon {
				fill: $bg-color-main;
			}
			&-icon {
				vertical-align: middle;
				height: 40px;
				width: 40px;
				margin-right: 20px;
				fill: $tabs-color;
				transition: all .5s ease;
			}
		}

	}

	&__logo {
		margin: 0 auto;
		display: block;
		width: 250px;
		height: 250px;
		fill: $bg-color-main;
		transition: all .5s ease;
		&:hover {
			fill: $tabs-color;
		}
	}

	&__call-us {
		color: $bg-color-main;
		font-size: 20px;
		font-family: "lobster";
		text-align: center;
		&-tel {
			margin-left: 5px;
			color: $tabs-color;
			font-family: "KelsonSansRegular";
		}
	}
	.social {
		float: right;
	}
}