//CONTAINER SETTINGS
.container {
	position: relative;
	width: 1200px;
	//padding: 30px 15px;
	margin-left: auto;
	margin-right: auto;
	/*@media only screen and (max-width: 1199px) {
		width: 1000px;
	}*/
}

.container--with-widget {
	display: flex;
	justify-content: space-between;
	.container__leftside {
		width: 900px;
	}
	.container__rightside {
		width: 285px;
	}
}

